extends ../layout

block content
	h2 Flowood Menu Dashboard
	a(ui-sref='menu.flowood.appetizers')
		p Click here to edit appetizers
	a(ui-sref='menu.flowood.entrees')
		p Click here to edit entrees
	<div ui-view></div>