h2 MENUS | Locations
div.menu-locations-list
 p
  a(ui-sref='menus.flowood') Flowood Menu
 p
  a(ui-sref='menus.flowood') Madison Menu
 p
  a(ui-sref='menus.flowood') Hattiesburg Menu
 p
  a(ui-sref='menus.flowood') Brookhaven Menu
 div.clearfix

<div ui-view></div>
