<h2>GEORGIA BLUE LOCATIONS</h2>
<div class="form-holder">
    <form ng-submit="location.addLocation()">
        <div class="input-holder"><input placeholder="Location City" ng-model="location.city"/></div>
        <div class="input-holder"><input placeholder="Adress" ng-model="location.address"/></div>
        <div class="input-holder"><input placeholder="Zip Code" ng-model="location.zip"/></div>
        <div class="input-holder"><input placeholder="State" ng-model="location.state"/></div>
        <div class="input-holder"><input placeholder="Phone" ng-model="location.phone"/></div>
        <div class="button-holder">
            <button>Submit</button>
        </div>
    </form>
</div>
<div style="margin-top:20px;">
    <div ng-repeat="location in location.locations"
         style="border:1px solid rgba(0,0,0,.1);padding:0px 20px 25px;;margin-bottom:10px;" class="menu-item"><h2>
        {{location.city}}</h2>

        <p style="font-size:18px;">{{location.address}}</p>

        <p style="font-size:18px;">{{location.zip}}</p>

        <p style="font-size:18px;">{{location.city}}, {{location.state | uppercase}}</p>

        <p style="color:rgba(0,0,0,.6);font-style:italic;font-size:14px">{{app.phone}}</p>
            <a href="/flowood/appetizers/delete/{{app._id}}"
               style="color:#ffffff;background:#00B7FF;padding:10px 25px;text-decoration:none;"
               class="nicebutton">Delete</a>
    </div>
</div>