doctype html
html
  head
    base(href='/')
    title 
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Oswald:400,700,300')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='../lib/angular/angular.min.js')
    script(src='../lib/ui-router/ui-router.js')
    script(src='../lib/angular-resource/angular-resource.min.js')
    script(src='../javascripts/app/app.js')
    script(src='../javascripts/app/controllers/flowoodControllers.js')
    script(src='../javascripts/app/controllers/locationsController.js')
  body(ng-app='app')
    div.sidemenu-container
      section.sidemenu
        a(ui-sref='home')
         h1.side-menu-title MAIN MENU
        section.menulist(style='padding-left:20px;padding-right:20px;')
         a(ui-sref='menus')
          p EDIT MENUS
         a(ui-sref='locations')
          p.lastemenulist EDIT LOCATIONS

    block content