
<div><h2>Appetizers</h2>

    <div class="form-holder">
        <form ng-submit="app.addAppetizerItem()">
            <div class="input-holder"><input for="title" name="title" placeholder="Appetizer Name" ng-model="app.name">
            </div>
            <div class="input-holder"><input for="description" name="description" placeholder="description"
                                             ng-model="app.description"></div>
            <div class="input-holder"><input for="option" name="option" placeholder="options - optional"
                                             ng-model="app.options"></div>
            <div class="button-holder">
                <button>Submit</button>
            </div>
        </form>
    </div>
    <div style="margin-top:20px;">
        <div ng-repeat="apps in app.data"
             style="border:1px solid rgba(0,0,0,.1);padding:0px 20px 25px;;margin-bottom:10px;" class="menu-item"><h2>
            {{apps.title}}</h2>

            <p style="font-size:18px;">{{apps.description}}</p>

            <p style="color:rgba(0,0,0,.6);font-style:italic;font-size:14px">{{apps.option}}</p>
            <a 
            href="/flowood/appetizers/delete/{{apps._id}}" 
            style="color:#ffffff;background:#00B7FF;padding:10px 25px;text-decoration:none;" class="nicebutton" 
            ng-click="app.deleteAppetizer()">Delete</a>
        </div>
    </div>
</div>
