
<h2>Entrees</h2>

<div>
    <div class="form-holder"></div>
    <form ng-submit="entree.addMenuItem()">
        <div class="input-holder"><input for="title" name="title" placeholder="Entree Name" ng-model="entree.name">
        </div>
        <div class="input-holder"><input for="description" ng-model="entree.description" name="description"
                                         placeholder="description"></div>
        <div class="input-holder"><input for="option" name="option" ng-model="entree.options"
                                         placeholder="options - optional"></div>
        <div class="button-holder">
            <button>Submit</button>
        </div>
    </form>
    <div style="margin-top:20px;">
        <div ng-repeat="entrees in entree.data"
             style="border:1px solid rgba(0,0,0,.1);padding:0px 20px 25px;margin-bottom:10px;" class="menu-item"><h2>
            {{entrees.title}}</h2>

            <p style="font-size:18px;">{{entrees.description}}</p>

            <p style="color:rgba(0,0,0,.6);font-style:italic;font-size:14px">{{entrees.option}}</p>

            <div style="margin:25px 0px 10px;">
                <a href="/flowood/entrees/delete/{{entrees._id}}"
                                                  style="color:#ffffff;background:#00B7FF;padding:10px 25px;text-decoration:none;"
                                                  class="nicebutton" ng-click="entree.deleteMenuItem()">Delete</a>
           
            </div>
        </div>
    </div>
</div>
