body {
  margin:0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.input-holder {
	margin: 10px 0px;
	width:100%;
}

.input-holder input {
	border: 1px solid rgba(0,0,0,.4);
	padding: 10px 4px;
	width: 50%;
}


.button-holder button {
	padding: 13px 46px;
	border:none;
	background:rgba(0,0,0,.5);
	color: #ffffff;
	cursor: pointer;
	transition: .2s opacity;
}


.button-holder button:hover {
	opacity: .5;
}