extends ../../../layout

block content
	h2 Flowood Menu Dashboard
	div.menu-items
		a(ui-sref='menus.flowood.appetizers')
			p Appetizers
		a(ui-sref='menus.flowood.entrees')
			p Entrees
		div.clearfix
	div(ui-view)