<h2>Flowood Beers</h2>

<div class="form-holder">
        <form ng-submit="beer.addBeer()">
            <div class="input-holder">
            	<input placeholder="Beer Name" ng-model="beer.name">
            </div>
            <div class="input-holder">
            	<input placeholder="type" ng-model="beer.type">
            </div>
            <div class="input-holder">
            	<input placeholder="Brewer Location" ng-model="beer.location">
            </div>
            <div class="button-holder">
                <button>Submit</button>
            </div>
        </form>
    </div>
    <div style="margin-top:20px;">
        <div ng-repeat="beers in beer.data"
             style="border:1px solid rgba(0,0,0,.1);padding:0px 20px 25px;;margin-bottom:10px;" class="menu-item"><h2>
            {{beers.name}}</h2>

            <p style="font-size:18px;">{{beers.type}}</p>

            <p style="color:rgba(0,0,0,.6);font-style:italic;font-size:14px;">{{beers.location}}</p>
            <p style="color:#ffffff;background:#00B7FF;padding:10px 25px;text-decoration:none;cursor:pointer;" class="nicebutton" 
            ng-click="beer.deleteBeer(beers._id)" >DELETE</p>
            <!-- <a 
            href="/beers/flowood/delete/{{beers._id}}" 
            style="color:#ffffff;background:#00B7FF;padding:10px 25px;text-decoration:none;" class="nicebutton" 
            ng-click="beer.deleteBeer()">Delete</a> -->
        </div>
    </div>